// Specific CSS for your home-page
.container {
padding-left: 5%;
padding-right: 5%;
}

.main_logo {
display: flex;
justify-content: center;
margin-top: 45%;
max-width: 700px;
max-height: 700px;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.main-word {
  color: black;
  font-weight: bold;
}

.main-image {
  margin: 20px;
}

.btn-action {
  background-color: #FFC93C;
  width: 60%;
  font-weight: bold;
  box-shadow: 3px 3px rgb(182, 182, 182);
}

.btn-action:hover {
  background-color: #FFC93C;
  width: 60%;
  font-weight: bold;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.fv-back-color {
  background: linear-gradient(#9BE8D8,#cfe8e3 ) ;
}

.second-section {
  background-color: #ecf2f7;
}

.third-section {
  background-color: #dffff0;
}
