// Specific CSS for your home-page
.main sign {
  background-color: #032830;
  padding: 20px 100px;
  display: inline-block;
  text-decoration :none;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
  border-radius: 4px;
}
