<div class="container">
  <h1 class="mb-3">Your Debts List</h1>

  <% @debts.each_with_index do |debt, index| %>
    <div class="debt-list-card">
      <h3 class="fw-bold">Debt <%= index + 1 %></h3>
      <p class=fs-6>Original principal</p>
      <p class="fs-5 fw-bold"><%= number_to_currency(debt.original_principal, unit:"¥", precision:0) %></p>
      <%= link_to "Dashbord", payment_options_dashboard_debt_path(debt.id), class: "btn btn-select" %>
    </div>
  <% end %>
</div>

    <%# t.string "name"
    t.bigint "user_id", null: false
    t.float "interest_rate"
    t.integer "remaining_principal"
    t.integer "original_principal"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.integer "income"
    t.integer "expense"
    t.date "debt_due_date"
    t.integer "monthly_principal_amount" %>
