.info {
  padding: 10;
}

.data_all {
display: flex;
justify-content: center;
padding-bottom: 2.5%;
margin-bottom: 2.5%;
}

.info-card {
  height: 80px;
  width: auto;
  background-color: #ffffff;
}

.info-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.info-card-title {
  height: 30px;
  width: auto;
}

.info-card-content {
  height: 20px;
  width: auto;
}


.minimum-card {
  background-color: #A0F0F9;
}

.standard-card {
  background-color: #aad2a0;
}

.super-card {
  background-color: #bde1e9;
}

.debt-breakdown {
  background: linear-gradient(#42beb2, #dcfafa);
}

.debt-breakdown h4 {
  color: white;
  font-weight: bold;
}

.description h4 {
  color: white;
  font-weight: bold;
}

.debt-summary {
  background-color: #ffffff;
}

.plans-field-fv {
  background: linear-gradient(#44c38e, #dcfadd);
}

.pc-info-card {
  background: linear-gradient(to right, white, rgb(244, 255, 253));
  width: 170px;
  height: 170px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 10px;
  padding: 15px;
  border-radius: 15px;
}

.pc-item-name {
  margin-top: 4px;
  margin-bottom: 6px;
}

.pc-item-data {
}

.show-container {
  background-color: #f0f4fc;
}

.pc-info-cards {
  margin-top: 10px ;
  margin-bottom: 10px;
}

.pc-chart-balance {
  background: linear-gradient(to right, white, rgb(244, 255, 253));
  width: 340px;
  height: 340px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left:25px;
  padding: 15px;
  border-radius: 15px;
}

.pc-chart-breakdown {
  background: linear-gradient(to right, white, rgb(244, 255, 253));
  width: 340px;
  height: 340px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left:25px;
  padding: 15px;
  border-radius: 15px;
}

.pc-chart-sumarry {
  background: linear-gradient(to right, white, rgb(244, 255, 253));
  width: 340px;
  height: 340px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left:25px;
  padding: 15px;
  border-radius: 15px;
}

.pc-chart-compare {
  background: linear-gradient(to right, white, rgb(244, 255, 253));
  width: 700px;
  height: 380px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 15px;
}

.btn-select {
  background: linear-gradient(to right, #FFC93C, #ffe5a2);
  width: 140px;
  height: 60px;
  font-weight: bold;
  box-shadow: 3px 3px rgb(182, 182, 182);
  margin-top: 10px;
  margin-bottom: 40px;
  align-items: center;
}

.btn-select:hover {
  background-color: #FFC93C;
  width: 140px;
  height: 60px;
  font-weight: bold;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  align-items: center;
}

.btn-plan-detail {
  background: linear-gradient(to right, rgb(199, 253, 243), rgb(169, 253, 238));
  width: 120px;
  height: 50px;
  font-weight: bold;
  box-shadow: 3px 3px rgb(182, 182, 182);
  margin: 10px auto;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.btn-plan-detail:hover {
  background: linear-gradient(to right, rgb(216, 250, 244), rgb(169, 253, 238));

  width: 120px;

  height: 50px;
  font-weight: bold;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  margin: 10px auto;
  align-items: center;
}

.pc-mini-select-card {
  background: linear-gradient(to right, white, rgb(199, 238, 250));
  width: 320px;
  height: 260px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 5px;
  padding: 15px;
  border-radius: 15px;
}

.pc-standard-select-card {
  background: linear-gradient(to right, white, rgb(199, 255, 245));
  width: 320px;
  height: 260px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 5px;
  padding: 15px;
  border-radius: 15px;
}

.pc-premium-select-card {
  background: linear-gradient(to right, white, rgb(252, 255, 207));
  width: 320px;
  height: 260px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 5px;
  padding: 15px;
  border-radius: 15px;
}

.detail-plan-card-mini {
  background: linear-gradient(to right, white, rgb(199, 238, 250));
  width: 850px;
  height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 15px;
}

.detail-plan-card-standard {
  background: linear-gradient(to right, white, rgb(199, 255, 245));
  width: 850px;
  height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 15px;
}

.detail-plan-card-premium {
  background: linear-gradient(to right, white, rgb(252, 255, 207));
  width: 850px;
  height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 15px;
}

.payment-date {
  background: linear-gradient(to right, white, rgb(125, 205, 242));
  width: 350px;
  height: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left:25px;
  padding: 15px;
  border-radius: 15px;
}

.debt-list-card {
  background: linear-gradient(to right, white, rgb(199, 238, 250));
  width: 300px;
  height: 250px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px 20px;
  padding: 15px;
  border-radius: 15px;
}

.interest-word {
  color: #F94949;
  font-weight: bold;
  font-size: larger;
}

.total-amount-word {
  color: #000000;
  font-weight: bold;
  font-size: larger;
}

.principal-word {
  color: #78C1F3;
  font-weight: bold;
  font-size: larger;
}
// .modal-wrapper {
//   z-index: 999;
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   padding: 40px 10px;
//   text-align: center;
// }

// .modal-button {
//     color: #4f96f6;
//     background-color: #eeeeee;
//     font-weight: bold;
//     text-align: center;
//     cursor :pointer;
//     transition: all 0.3s;
//     display: block;
//     margin-top: 40px;
//     margin-bottom: 1px;
//     padding: 12px 2px;
//     max-width:300px;
//     text-decoration: none;
// }

// .modal-button:active {
//   /*ボタンを押したとき*/
//   -webkit-transform: translateY(2px);
//   transform: translateY(2px);/*下に動く*/

// }

// /*アイコンを表示*/
// .modal-button:after {
// font-family: "Font Awesome 5 Free";
//   content: "\f2d0";
//     padding-left: 8px;
// }

// /*ラベルホバー時*/
// .modal-button:hover {
//   color: #FFFFFF;
//   background-color: #4f96f6;
//   transition: .6s;
// }

// .modal-wrapper:not(:target) {
//   opacity: 0;
//   visibility: hidden;
//   transition: opacity .3s, visibility .3s;
// }

// .modal-wrapper:target {
//   opacity: 1;
//   visibility: visible;
//   transition: opacity .4s, visibility .4s;
// }

// .modal-wrapper::after {
//   display: inline-block;
//   height: 100%;
//   margin-left: -.05em;
//   vertical-align: middle;
//   content: ""
// }

// .modal-wrapper .modal-window {
//   box-sizing: border-box;
//   display: inline-block;
//   z-index: 20;
//   position: relative;
//   width: 70%;
//   max-width: 600px;
//   padding: 10px 30px 25px;
//   border-radius: 2px;
//   background: #fff;
//   box-shadow: 0 0 30px rgba(0, 0, 0, .6);
//   vertical-align: middle
// }

// .modal-wrapper .modal-window .modal-content {
//   max-height: 80vh;
//   overflow-y: auto;
//   text-align: left
// }

// .modal_title {
//   font-size: 1.5em;
// 	position: relative;
// 	overflow: hidden;
//   padding: 0;
// }

// .modal_title::before,
// .modal_title::after{
// 	content: "";
// 	position: absolute;
// 	bottom: 0;
// }

// /* h2 プライマリカラー*/
// .modal_title:before{
// 	border-bottom: 4px solid #6bb6ff;
// 	width: 100%;
// }
// /* h2 セカンダリカラー*/
// .modal_title:after{
// 	border-bottom: 4px solid #c8e4ff;
// 	width: 100%;
// }

// .modal-content p {
//   margin: 10px 0 0 0;
// }

// .modal-overlay {
//   z-index: 10;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: rgba(0, 0, 0, .8)
// }

// .modal-wrapper .modal-close {
//   z-index: 20;
//   position: absolute;
//   top: 5px;
//   right: 5px;
//   width: 35px;
//   color: #95979c !important;
//   font-size: 30px;
//   font-weight: 700;
//   line-height: 35px;
//   text-align: center;
//   text-decoration: none;
//   text-indent: 0
// }

// .modal-wrapper .modal-close:hover {
//   color: #2b2e38 !important
// }
