.info {
  padding: 10;
}

.data_all {
display: flex;
justify-content: center;
padding-bottom: 2.5%;
margin-bottom: 2.5%;
}

.info-card {
  height: 80px;
  width: auto;
  background-color: #ffffff;
}

.info-card-title {
  height: 30px;
  width: auto;
}

.info-card-content {
  height: 20px;
  width: auto;
}


.minimum-card {
  background-color: #A0F0F9;
}

.standard-card {
  background-color: #0DCAF0;
}

.super-card {
  background-color: #057E97;
}

.debt-breakdown {
  background-color: #dffff0;
}

.debt-summary {
  background-color: #ffffff;
}
